{% extends "base.html" %} 

{% block title %} 
My Blog 
{% endblock %} 

{% block css_files %}
  <link rel="stylesheet" href="/static/post-detail.css" />
{% endblock %}

{% block content %}

    <section id="summary">
        <h2> {{identified_post.title}}</h2>
        <div>
            {% for tag in post_tags %}
                <span class="tag">{{ tag.caption }}</span>
            {% endfor %}
        </div>
        <article>
            <img src="{{ post.image.url }}" alt={{identified_post.title}} />
            <address> By <a href='mailto:{{ identified_post.author.email_address }}'>{{identified_post.author}}</a> </address>
            <div>
                Last updated on <time> {{identified_post.date}}</time>
            </div>
        </article>
    </section>

    <main>
        <p>
            {{identified_post.content | linebreaks}}
        </p>
            

    </main>

{% endblock %}