{% extends "base.html" %} 

{% block title %} 
My Blog 
{% endblock %} 

{% block css_files %}
  <link rel="stylesheet" href="/static/post-detail.css" />
{% endblock %}

{% block content %}

    <section id="summary">
        <h2> {{identified_post.title}}</h2>
        <article>
            <img src="{{ '/static/'|add:identified_post.image }}" alt={{identified_post.title}} />
            <address> By {{identified_post.author}}</address>
            <div>
                Last updated on <time> {{identified_post.date}}</time>
            </div>
        </article>
    </section>

    <main>
        <p>
            {{identified_post.content | linebreaks}}
        </p>
            

    </main>

{% endblock %}